body{
	margin: 0px;
	padding: 0px;
}
[v-cloak]{
	display: none;
}
.el-menu-vertical-demo{
	background: rgb(236,245,255);
}
.el-menu-vertical-demo:not(.el-menu--collapse) {
    width: 200px;
    height: 770px;
}
.demo-type{
	height: 60px;
	width: 40px;
}
.demo-type span{
	margin-top: 11px;
}
.jump_where{
	text-decoration: none;
}